<table class="table table-striped">
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngStyle]="{ width: column.width }"
        (click)="column.sortable && sort(column)"
      >
        {{ getHeader(column.label) }}
        <ng-container *ngIf="column.sortable">
          <span class="material-icons caret">
            <i *ngIf="!column.direction" class="fas fa-arrows-alt-v"></i>
            <i *ngIf="column.direction === 'ASC'" class="fas fa-caret-up"></i>
            <i
              *ngIf="column.direction === 'DESC'"
              class="fas fa-caret-down"
            ></i>
          </span>
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns" [ngStyle]="{ width: column.width }">
        <ng-container *ngIf="column.type === 'actions'; else defaultContent">
          <div class="button-container">
            <button
              type="button"
              class="btn small-butt"
              *ngIf="column.action"
              (click)="viewDetails(row.id)"
            >
              <i class="fas fa-eye"></i>
            </button>

            <button type="button" class="btn small-butt" (click)="delete(row)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </ng-container>
        <ng-template #defaultContent>
          {{ getPropertyValue(row, column.key) }}
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
