<ng-container *ngIf="client$ | async as client">
  <div *ngIf="clientForm">
    <form
      *ngIf="clientForm"
      [formGroup]="clientForm"
      (ngSubmit)="onSubmit()"
      class="container-fluid mt-3"
    >
      <div>
        <!-- Persona Fisica -->
        <app-cli-persona-fisica
          [clientForm]="clientForm"
          [client]="client"
          *ngIf="clientForm.get('personTypeId').value === 2"
        ></app-cli-persona-fisica>
        <!-- end Persona Fisica -->

        <!--  Persona Juridica -->
        <app-cli-persona-juridica
          [clientForm]="clientForm"
          [client]="client"
          *ngIf="clientForm.get('personTypeId').value === 1"
        ></app-cli-persona-juridica>
        <!-- end Persona Juridica -->
      </div>

      <div class="row">
        <!-- Submit Button -->
        <div class="col-12 text-center mt-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #loading>
    <p>Cargando datos del cliente...</p>
  </ng-template>
</ng-container>
