<ng-container *ngIf="client$ | async as client">
  <div *ngIf="clientForm">
    <form
      *ngIf="clientForm"
      [formGroup]="clientForm"
      (ngSubmit)="onSubmit()"
      class="container-fluid mt-3"
    >
      <div class="row">
        <div class="col-md-2">
          <app-custom-select
            [control]="clientForm.get('documentTypeId')"
            [endpoint]="'1/document_types/paged?page=0&pagesize=10'"
            [placeholder]="'Select a document type'"
            [label]="'Document type'"
            [controlId]="'documentTypeId'"
            [valueField]="'id'"
            [displayField]="'literalDescriptionText'"
          >
          </app-custom-select>
        </div>
        <div class="col-md-2">
          <app-custom-input
            [control]="clientForm.get('documentNumber')"
            placeholder="Nº ident"
            label="Nº ident"
            controlId="documentNumber"
            type="text"
          >
          </app-custom-input>
        </div>
        <div class="col-md-3">
          <app-custom-input
            [control]="clientForm.get('name')"
            placeholder="Nombre"
            label="Nombre"
            controlId="name"
            type="text"
          ></app-custom-input>
        </div>
        <div class="col-md-3">
          <app-custom-input
            [control]="clientForm.get('surname')"
            placeholder="Apellidos"
            label="Apellidos"
            controlId="surname"
            type="text"
          >
          </app-custom-input>
        </div>
        <div class="col-md-2">
          <app-custom-radio-group
            [control]="clientForm.get('personTypeId')"
            [options]="[
              { label: 'Persona física', value: 1 },
              { label: 'Persona Jurídica', value: 2 }
            ]"
          >
          </app-custom-radio-group>
        </div>
      </div>

      <div class="row">
        <!-- Valid -->
        <div class="col-md-3">
          <app-custom-checkbox
            [control]="clientForm.get('valid')"
            label="Valid"
            controlId="valid"
          >
          </app-custom-checkbox>
        </div>

        <!-- User Modified ID -->
        <div class="col-md-3">
          <!-- <label for="userModId">User Modified ID</label>
        <input
          type="text"
          id="userModId"
          class="form-control"
          formControlName="userModId"
        /> -->

          <app-custom-select
            [control]="clientForm.get('genderId')"
            [endpoint]="'1/genders/paged?page=0&pageSize=10'"
            [placeholder]="'Select a gender'"
            [label]="'Gender'"
            [controlId]="'genderId'"
            [valueField]="'id'"
            [displayField]="'literalDescriptionText'"
          >
          </app-custom-select>
        </div>

        <!-- Date Modified -->
        <div class="col-md-3">
          <label for="dateMod">Date Modified</label>
          <input
            type="date"
            id="dateMod"
            class="form-control"
            formControlName="dateMod"
          />
        </div>

        <div class="col-md-3">
          <!-- Permite cambiar el tipo de input (text,email, password, etc.) -->
          <app-custom-input
            [control]="clientForm.get('type')"
            placeholder="Enter Type"
            label="Type"
            controlId="type"
            type="text"
          >
          </app-custom-input>
        </div>
      </div>

      <div class="row">
        <!-- Person Type ID -->
        <div class="col-md-3">
          <!-- <label for="personTypeId">Person Type ID</label>
          <input
            type="number"
            id="personTypeId"
            class="form-control"
            formControlName="personTypeId"
          /> -->
        </div>

        <!-- Name -->
        <div class="col-md-3">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>

        <!-- Surname -->
        <div class="col-md-3">
          <label for="surname">Surname</label>
          <input
            type="text"
            id="surname"
            class="form-control"
            formControlName="surname"
          />
        </div>

        <!-- Document Type ID -->
        <div class="col-md-3">
          <label for="documentTypeId">Document Type ID</label>
          <input
            type="number"
            id="documentTypeId"
            class="form-control"
            formControlName="documentTypeId"
          />
        </div>
      </div>

      <div class="row">
        <!-- Document Number -->
        <div class="col-md-3">
          <label for="documentNumber">Document Number</label>
          <input
            type="text"
            id="documentNumber"
            class="form-control"
            formControlName="documentNumber"
          />
        </div>

        <!-- Conflictive -->
        <div class="col-md-3">
          <label for="conflictive">Conflictive</label>
          <input
            type="checkbox"
            id="conflictive"
            class="form-check-input"
            formControlName="conflictive"
          />
        </div>

        <!-- Conflict Description -->
        <div class="col-md-3">
          <label for="conflictDescription">Conflict Description</label>
          <input
            type="text"
            id="conflictDescription"
            class="form-control"
            formControlName="conflictDescription"
          />
        </div>

        <!-- Observations -->
        <div class="col-md-3">
          <label for="observations">Observations</label>
          <input
            type="text"
            id="observations"
            class="form-control"
            formControlName="observations"
          />
        </div>
      </div>

      <div class="row">
        <!-- Nationality ID -->
        <div class="col-md-3">
          <label for="nationalityId">Nationality ID</label>
          <!-- <input
          type="number"
          id="nationalityId"
          class="form-control"
          formControlName="nationalityId"
        /> -->

          <select
            id="nationalityId"
            class="form-control"
            formControlName="nationalityId"
          >
            options
          </select>
        </div>

        <!-- Language ID -->
        <div class="col-md-3">
          <label for="languageId">Language ID</label>
          <input
            type="number"
            id="languageId"
            class="form-control"
            formControlName="languageId"
          />
        </div>

        <!-- Payment Method ID -->
        <div class="col-md-3">
          <label for="paymentMethodId">Payment Method ID</label>
          <input
            type="number"
            id="paymentMethodId"
            class="form-control"
            formControlName="paymentMethodId"
          />
        </div>

        <!-- Relation CR ID -->
        <div class="col-md-3">
          <label for="relationCrId">Relation CR ID</label>
          <input
            type="number"
            id="relationCrId"
            class="form-control"
            formControlName="relationCrId"
          />
        </div>
      </div>

      <div class="row">
        <!-- Administration System -->
        <div class="col-md-3">
          <label for="administrationSystem">Administration System</label>
          <input
            type="text"
            id="administrationSystem"
            class="form-control"
            formControlName="administrationSystem"
          />
        </div>

        <!-- Patronal Number -->
        <div class="col-md-3">
          <label for="patronalNumber">Patronal Number</label>
          <input
            type="number"
            id="patronalNumber"
            class="form-control"
            formControlName="patronalNumber"
          />
        </div>

        <!-- Number of Workers -->
        <div class="col-md-3">
          <label for="numberOfWorkers">Number of Workers</label>
          <input
            type="number"
            id="numberOfWorkers"
            class="form-control"
            formControlName="numberOfWorkers"
          />
        </div>

        <!-- Late Payment -->
        <div class="col-md-3">
          <label for="latePayment">Late Payment</label>
          <input
            type="checkbox"
            id="latePayment"
            class="form-check-input"
            formControlName="latePayment"
          />
        </div>
      </div>

      <div class="row">
        <!-- Late Payment Description -->
        <div class="col-md-3">
          <label for="latePaymentDescription">Late Payment Description</label>
          <input
            type="text"
            id="latePaymentDescription"
            class="form-control"
            formControlName="latePaymentDescription"
          />
        </div>

        <!-- Subscriber Antiquity -->
        <div class="col-md-3">
          <label for="subscriberAntiquity">Subscriber Antiquity</label>
          <input
            type="date"
            id="subscriberAntiquity"
            class="form-control"
            formControlName="subscriberAntiquity"
          />
        </div>

        <!-- Accounting Account -->
        <div class="col-md-3">
          <label for="accountingAccount">Accounting Account</label>
          <input
            type="number"
            id="accountingAccount"
            class="form-control"
            formControlName="accountingAccount"
          />
        </div>

        <!-- Activity -->
        <div class="col-md-3">
          <label for="activity">Activity</label>
          <input
            type="text"
            id="activity"
            class="form-control"
            formControlName="activity"
          />
        </div>
      </div>

      <div class="row">
        <!-- Submit Button -->
        <div class="col-12 text-center mt-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #loading>
    <p>Cargando datos del cliente...</p>
  </ng-template>
</ng-container>
