<div *ngIf="!data">
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 500px"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>
  </div>
</div>

<div *ngIf="data">
  <div class="container-fluid detail" [ngSwitch]="type">
    <!--/
      //
      //
      //  Plantilla para expedientes
      //
      //
        -->
    <div *ngSwitchCase="'expedientes'">
      <div class="row">
        <div class="col-md-12 p-5">
          <div class="d-flex align-items-center mb-5">
            <h5 class="detail__subtitle me-3">DETALLES DEL EXPEDIENTE:</h5>
            <h5 class="detail__title">{{ data.numexpedient }}</h5>
          </div>

          <div class="row mb-4">
            <div
              class="col-md-3 d-flex align-items-center justify-content-start"
            >
              <div>
                Data: <strong>{{ data.dataexpedicio }} </strong>
              </div>

              <div class="ms-5">
                Referència: <strong>{{ data.referencia }} </strong>
              </div>
            </div>

            <div
              class="col-md-4 d-flex justify-content-center align-items-center"
            >
              <div>Expedient:</div>
              <div class="ms-2">
                <input
                  type="text"
                  [value]="data.numexpedient"
                  class="form-control"
                />
              </div>
            </div>
            <div
              class="col-md-3 d-flex justify-content-start align-items-center"
            >
              <div>Estat:</div>
              <div class="ms-2">
                <select
                  class="form-select selectpicker select-width"
                  data-live-search="true"
                  title="Seleccione titular"
                >
                  <option value="" disabled selected>Seleccione Estado</option>
                  <option>Titular 1</option>
                  <option>Titular 2</option>
                  <option>Titular 3</option>
                </select>
              </div>
            </div>
            <div class="col-md-2 text-right text-end">
              Data estat: <strong>{{ data.dataestat }} </strong>
            </div>
          </div>
          <div class="row mb-4">
            <div
              class="col-md-4 d-flex justify-content-start align-items-center"
            >
              <div>Ubicació física:</div>
              <div class="ms-2">
                <select
                  class="form-select selectpicker select-width"
                  data-live-search="true"
                  title="Seleccione titular"
                >
                  <option value="" disabled selected>
                    Seleccione ubicación
                  </option>
                  <option>Titular 1</option>
                  <option>Titular 2</option>
                  <option>Titular 3</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 text-right">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <div class="form-check">
                    <label class="form-check-label" for="checkboxId">
                      Destruït
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="data.numexpedient"
                      id="checkboxId"
                    />
                  </div>
                </div>

                <div class="ms-3">
                  <div class="form-check">
                    <label class="form-check-label" for="checkboxId">
                      Digitalitzat
                    </label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="data.numexpedient"
                      id="checkboxId"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-5 d-flex justify-content-center align-items-center"
            >
              <div>Titular:</div>
              <div class="ms-2">
                <select
                  class="form-select selectpicker select-width"
                  data-live-search="true"
                  title="Seleccione titular"
                >
                  <option value="" disabled selected>Seleccione titular</option>
                  <option>Titular 1</option>
                  <option>Titular 2</option>
                  <option>Titular 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div
              class="col-md-3 d-flex justify-content-start align-items-center"
            >
              <div>Tipus:</div>
              <div class="ms-2">
                <select
                  class="form-select selectpicker select-width"
                  data-live-search="true"
                  title="Seleccione titular"
                >
                  <option value="" disabled selected>Seleccione tipus</option>
                  <option>Titular 1</option>
                  <option>Titular 2</option>
                  <option>Titular 3</option>
                </select>
              </div>
            </div>
            <div
              class="col-md-3 d-flex justify-content-start align-items-center"
            >
              <div>Assumpte:</div>
              <div class="ms-2">
                <select
                  class="form-select selectpicker select-width"
                  data-live-search="true"
                  title="Seleccione titular"
                >
                  <option value="" disabled selected>
                    Seleccione assumpte
                  </option>
                  <option>Titular 1</option>
                  <option>Titular 2</option>
                  <option>Titular 3</option>
                </select>
              </div>
            </div>
            <div
              class="col-md-3 d-flex justify-content-start align-items-center"
            >
              <div>Despatx:</div>
              <div class="ms-2">
                <select
                  class="form-select selectpicker select-width"
                  data-live-search="true"
                  title="Seleccione titular"
                >
                  <option value="" disabled selected>Seleccione despatx</option>
                  <option>Titular 1</option>
                  <option>Titular 2</option>
                  <option>Titular 3</option>
                </select>
              </div>
            </div>
            <div
              class="col-md-3 d-flex justify-content-start align-items-center"
            >
              <div>Grup:</div>
              <div class="ms-2">
                <select
                  class="form-select selectpicker select-width"
                  data-live-search="true"
                  title="Seleccione titular"
                >
                  <option value="" disabled selected>Seleccione grupo</option>
                  <option>Titular 1</option>
                  <option>Titular 2</option>
                  <option>Titular 3</option>
                </select>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-start">
            <div>
              <strong>1er Client: {{ data.referencia }} </strong>
            </div>
            <div><strong>Primer Contrari:</strong></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-sub-tabs [identificador]="data.numexpedient"></app-sub-tabs>
        </div>
      </div>
    </div>

    <!--/
      //
      //
      //  Plantilla para clientes
      //
      //
        -->
    <div *ngSwitchCase="'clients'">
      <div class="d-flex justify-content-start align-items-center mt-4 mb-4">
        <div>
          <h3>{{ data.name }} {{ data.surname }}</h3>
        </div>
        <div>
          - <strong>{{ data.documentNumber }}</strong>
        </div>
        <div>
          <strong>{{ data.entityType }}</strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-sub-tabs-cli [identificador]="data.id"></app-sub-tabs-cli>
        </div>
      </div>
    </div>
  </div>
</div>
