<table class="table table-striped">
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngStyle]="{ width: column.width }"
        (click)="column.sortable && sort(column)"
      >
        {{ getHeader(column.label)}}
        <ng-container *ngIf="column.sortable">
          <span class="material-icons caret">
            <mat-icon *ngIf="!column.direction">swap_vert</mat-icon>
            <mat-icon *ngIf="column.direction === 'ASC'"
              >arrow_drop_up</mat-icon
            >
            <mat-icon *ngIf="column.direction === 'DESC'"
              >arrow_drop_down</mat-icon
            >
          </span>
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns" [ngStyle]="{ width: column.width }">
        <ng-container *ngIf="column.type === 'actions'; else defaultContent">
          <div class="button-container">
            <button
              type="button"
              class="btn small-butt"
              *ngIf="column.action"
              (click)="column.action(row)"
            >
              <mat-icon>visibility</mat-icon>
            </button>

            <button type="button" class="btn small-butt" (click)="delete(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-template #defaultContent>
          {{ getPropertyValue(row, column.key) }}
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
