<div class="d-flex justify-content-start">
  <div [class.closed]="!isExpanded" class="sidebar">
    <button (click)="toggleSidebar()" class="toggle-button">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-list">
      <li
        *ngFor="let item of menuItems | keyvalue"
        [class.menu-selected]="selectedMenuItem === item.key"
      >
        <div
          *ngIf="item.value.children"
          (click)="toggleSubMenu(item)"
          class="menu-item d-flex align-items-center"
        >
          <img
            [src]="assetsBaseUrl + '/icons/' + item.value.icon + '.png'"
            alt="{{ translate(item.value.text) }}"
          />
          <div class="text-container ms-2 flex-fill" *ngIf="isExpanded">
            {{ translate(item.value.text) }}
            <span *ngIf="item.value.isOpen">
              <svg
                class="caret-icon"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 2l4 4-4 4"
                  stroke="currentColor"
                  stroke-width="1"
                  fill="none"
                />
              </svg>
            </span>
            <span *ngIf="!item.value.isOpen">
              <svg
                class="caret-icon"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2 4l4 4 4-4"
                  stroke="currentColor"
                  stroke-width="1"
                  fill="none"
                />
              </svg>
            </span>
          </div>
        </div>
        <a
          *ngIf="!item.value.children"
          (click)="selectMenuItem(item.key)"
          class="menu-item d-flex align-items-center"
          [routerLink]="['/auxiliars/' + item.value.url]"
        >
          <img
            [src]="assetsBaseUrl + '/icons/' + item.value.icon + '.png'"
            alt="{{ translate(item.value.text) }}"
          />
          <div class="text-container ms-2 flex-fill" *ngIf="isExpanded">
            {{ translate(item.value.text) }}
          </div>
        </a>
        <ul *ngIf="item.value.children && item.value.isOpen" class="sub-menu">
          <li
            *ngFor="let child of item.value.children"
            (click)="selectMenuItem(child.url)"
            [class.menu-selected]="selectedMenuItem === child.url"
          >
            <a
              [routerLink]="['/auxiliars/' + child.url]"
              class="d-flex align-items-center"
            >
              <img
                [src]="assetsBaseUrl + '/icons/' + child.icon + '.png'"
                alt="{{ translate(child.text) }}"
              />
              <div class="text-container ms-2 flex-fill">
                {{ translate(child.text) }}
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="layout-sidenav-content">
      <main class="container-fluid main__height">
        <div class="row">
          <div class="col-12">
            <ng-content></ng-content>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
