<div class="auth">
  <div class="d-flex justify-align-center align-items-center">
    <div class="card" style="min-width: 320px; min-height: 250px">
      <div class="card-body">
        <div class="burdeos mb-4">
          <img
            src="assets/images/juridic_logo_w.svg"
            alt="Logo"
            style="width: 100%; max-width: 200px"
          />
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />
          </div>
          <div>
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-custom mt-5">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
