<app-layout>
  <div class="container-fluid addresses">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 mt-2 mb-2 d-flex align-items-center">
            <a class="enllac" routerLink="/" class="d-flex align-items-center">
              <mat-icon
                style="
                  font-size: 18px;
                  height: 18px;
                  width: 18px;
                  margin-right: 10px;
                "
                >home</mat-icon
              >
              <span>{{ "TXT.HOME" | translate }}</span>
            </a>
            <span class="mx-2">/</span>
            <span
              ><a
                class="enllac"
                routerLink="../../../banks"
                class="d-flex align-items-center"
                >{{ "BANKSTITLE.TITLE" | translate }}</a
              ></span
            >
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div *ngIf="!loading; else loadingTemplate">
              <div *ngIf="registerDetail">
                <div
                  class="d-flex justify-content-between align-items-center ms-5 me-5 mt-4"
                >
                  <!-- Envoltorio para la imagen y el texto, para que se alineen a la izquierda -->
                  <div class="d-flex align-items-center">
                    <img
                      class="iconopage"
                      src="../../../assets/icons/{{ icono }}.png"
                      alt="{{ 'BANKSTITLE.TITLE' | translate }}"
                    />
                    <h2 class="ms-3" style="margin-top: 7px">
                      {{ "BANKSTITLE.TITLE" | translate }}
                    </h2>
                  </div>

                  <!-- Envoltorio para los botones, para que se alineen a la derecha -->
                  <div class="d-flex align-items-center">
                    <div *ngIf="showLangEdit">
                      <button
                        class="btn me-2"
                        [ngClass]="{
                          'btn-info': activeLanguage !== 1,
                          'btn-primary': activeLanguage === 1
                        }"
                        (click)="changePostLanguage(1)"
                      >
                        ES
                      </button>
                      <!-- Botón EN -->
                      <button
                        class="btn me-2"
                        [ngClass]="{
                          'btn-info': activeLanguage !== 2,
                          'btn-primary': activeLanguage === 2
                        }"
                        (click)="changePostLanguage(2)"
                      >
                        EN
                      </button>
                      <!-- Botón CA -->
                      <button
                        class="btn me-2"
                        [ngClass]="{
                          'btn-info': activeLanguage !== 3,
                          'btn-primary': activeLanguage === 3
                        }"
                        (click)="changePostLanguage(3)"
                      >
                        CA
                      </button>
                    </div>
                    <button class="btn btn-primary" (click)="toggleEdit()">
                      {{ (isEditing ? "Cancelar" : "Editar Campos") | translate }}
                    </button>

                    <button
                      class="btn btn-primary ms-3"
                      (click)="toggleSave()"
                      [disabled]="!isEditing"
                    >
                      {{"Guardar_finalitzar" | translate }}
                    </button>
                  </div>
                </div>

                <div class="row ms-5 me-5 mt-t">
                  <div class="col-12">
                    <div class="row mt-5">
                      <div class="col-12">
                        <div class="d-flex justify-content-start">
                          <div>
                            <app-edit
                              [field]="'name'"
                              [value]="registerDetail.name"
                              [isEditing]="isEditing"
                              [label]="'FORM.name' | translate"
                              (save)="handleFieldChange('name', $event)"
                            ></app-edit>
                          </div>

                          <div>
                            <app-edit
                              [field]="'code'"
                              [value]="registerDetail.code"
                              [isEditing]="isEditing"
                              [label]="'FORM.code' | translate"
                              (save)="handleFieldChange('code', $event)"
                            ></app-edit>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ng-template #loadingTemplate>
              <app-loader></app-loader>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
