<app-layout>
  <div class="container-fluid addresses">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 mt-2 mb-2 d-flex align-items-center">
            <a class="enllac" routerLink="/" class="d-flex align-items-center">
              <i
                class="fas fa-home"
                style="
                  font-size: 18px;
                  height: 18px;
                  width: 18px;
                  margin-right: 10px;
                "
              ></i>
              <span>{{ translations["TXT"].HOME }}</span>
            </a>
            <span class="mx-2">/</span>
            <span>
              <a
                class="enllac"
                [routerLink]="['../../../', redirectRoute]"
                class="d-flex align-items-center"
                >{{ translations["CNAETITLE"].TITLE }}</a
              >
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngIf="!loading; else loadingTemplate">
              <div>
                <div
                  class="d-flex justify-content-between align-items-center ms-5 me-5 mt-4"
                >
                  <div class="d-flex align-items-center">
                    <img
                      class="iconopage"
                      src="../../../assets/icons/{{ icono }}.png"
                      [alt]="translations['CNAETITLE'].TITLE"
                    />
                    <h2 class="ms-3" style="margin-top: 7px">
                      {{ translations["CNAETITLE"].TITLE }}
                    </h2>
                  </div>
                  <div class="d-flex align-items-center">
                    <div *ngIf="showLangEdit">
                      <button
                        class="btn me-2"
                        [ngClass]="{
                          'btn-info': activeLanguage !== 1,
                          'btn-primary': activeLanguage === 1
                        }"
                        (click)="changePostLanguage(1)"
                      >
                        CA
                      </button>

                      <button
                        class="btn me-2"
                        [ngClass]="{
                          'btn-info': activeLanguage !== 3,
                          'btn-primary': activeLanguage === 3
                        }"
                        (click)="changePostLanguage(3)"
                      >
                        ES
                      </button>
                      <button
                        class="btn me-2"
                        [ngClass]="{
                          'btn-info': activeLanguage !== 2,
                          'btn-primary': activeLanguage === 2
                        }"
                        (click)="changePostLanguage(2)"
                      >
                        EN
                      </button>
                    </div>
                    <button
                      *ngIf="registerDetail"
                      class="btn btn-primary"
                      (click)="toggleEdit()"
                    >
                      {{
                        (isEditing ? "Cancelar" : "Editar Campos") | translate
                      }}
                    </button>
                    <button
                      *ngIf="registerDetail"
                      class="btn btn-primary ms-3"
                      (click)="toggleSave()"
                      [disabled]="!isEditing"
                    >
                      {{ translations["TXT"].Guardar_finalitzar }}
                    </button>
                    <button
                      *ngIf="!registerDetail"
                      class="btn btn-primary ms-3"
                      (click)="toggleInsert()"
                    >
                      {{ translations["TXT"].Guardar_finalitzar }}
                    </button>
                  </div>
                </div>
                <div class="row ms-5 me-5 mt-t">
                  <div class="col-12">
                    <div class="row mt-5">
                      <div class="col-12">
                        <div class="d-flex justify-content-start">
                          <div *ngIf="!registerDetail">
                            <app-insert
                              *ngFor="let f of editFields"
                              [field]="f.field"
                              fieldtype="{{ f.type }}"
                              [value]="newRecord[f.field]"
                              [label]="f.captionKey | translate"
                              (save)="onSave(f.field, $event)"
                              [structure]="f"
                            ></app-insert>
                          </div>
                          <div *ngIf="registerDetail">
                            <app-edit
                              *ngFor="let f of editFields"
                              [field]="f.field"
                              fieldtype="{{ f.type }}"
                              [value]="registerDetail[f.field]"
                              [isEditing]="isEditing"
                              [label]="f.captionKey | translate"
                              (save)="handleFieldChange(f.field, $event)"
                              [structure]="f"
                            ></app-edit>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #loadingTemplate>
              <app-loader></app-loader>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
