<app-layout>
  <div class="pestanyes__estil mt-5">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          [routerLink]="[buscadorRoute]"
          routerLinkActive="active"
          class="nav-link"
        >
          <div class="d-flex justify-content-between">
            <div>
              {{ translations["TITLE.list"] }}
              {{ translations[sectionTitle] | translate }}
            </div>
            <div>
              <i class="iconoredondeobuscador">●</i>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item" *ngFor="let tab of thisTabs">
        <a
          class="nav-link"
          [routerLink]="[tabsRoutePrefix, tab.id]"
          routerLinkActive="active"
        >
          <div class="d-flex justify-content-between">
            <div>{{ tab.title }}</div>
            <div (click)="cerrarTab(tab.id)">
              <i class="iconoredondeo">●</i>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div *ngIf="buscadorSeleccionado" class="tab-pane fade show active">
        <div class="line-tab">
          <app-exp-cercador
            (referenciaSelected)="handleReferenciaClickFromCercador($event)"
          ></app-exp-cercador>
        </div>
      </div>

      <div
        *ngFor="let tab of thisTabs"
        class="tab-pane fade"
        [ngClass]="{ 'show active': tab.isSelected && !buscadorSeleccionado }"
      >
        <div class="line-tab">
          <app-exp-by-id
            *ngIf="tab.isSelected && !buscadorSeleccionado"
            [tabId]="tab.id"
          ></app-exp-by-id>
        </div>
      </div>
    </div>
  </div>
</app-layout>
