<app-layout>
  <div class="d-flex mb-3">
    <button class="btn btn-primary" (click)="agregarTab()">Clientes</button>
  </div>
  <div class="pestanyes__estil">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          [routerLink]="[buscadorRoute]"
          routerLinkActive="active"
          class="nav-link"
        >
          <div class="d-flex justify-content-between">
            <div>
              {{ translations["TITLE.list"] }}
              {{ translations[sectionTitle] | translate }}
            </div>
            <div>
              <i
                [style.color]="
                  mostrarBuscador && buscadorSeleccionado
                    ? '#59B41B'
                    : '#B85A12'
                "
                [style.backgroundColor]="
                  mostrarBuscador && buscadorSeleccionado
                    ? '#59B41B'
                    : '#B85A12'
                "
                class="iconoactivo"
                >●</i
              >
            </div>
          </div>
        </a>
      </li>

      <li class="nav-item" *ngFor="let tab of thisTabs">
        <a
          class="nav-link"
          [routerLink]="[tabsRoutePrefix, tab.id]"
          routerLinkActive="active"
        >
          <div class="d-flex justify-content-between">
            <div>{{ tab.title }}</div>
            <div (click)="cerrarTab(tab.id)">
              <div
                (mouseenter)="hovered = true"
                (mouseleave)="hovered = false"
                style="position: relative"
              >
                <i
                  [style.color]="
                    hovered ? '#FFFFFF' : tab.isSelected ? '#59B41B' : '#B85A12'
                  "
                  [style.backgroundColor]="
                    tab.isSelected ? '#59B41B' : '#B85A12'
                  "
                  class="iconoactivo"
                  [ngStyle]="{
                    cursor: 'pointer',
                    fontSize: hovered ? '14px' : '',
                    fontStyle: hovered ? 'normal' : 'italic',
                    paddingTop: hovered ? '1px' : '',
                    paddingBottom: hovered ? '6px' : '',
                    marginBottom: hovered ? '4px' : ''
                  }"
                >
                  <ng-container *ngIf="!hovered; else xIcon">●</ng-container>
                  <ng-template #xIcon>X</ng-template>
                </i>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active">
        <div class="line-tab">
          <ng-template #dynamicContent></ng-template>
        </div>
      </div>

      <div
        *ngFor="let tab of thisTabs"
        class="tab-pane fade"
        [ngClass]="{ 'show active': tab.isSelected && !buscadorSeleccionado }"
      >
        <div class="line-tab">
          {{ tab.content }}
        </div>
      </div>
    </div>
  </div>
</app-layout>
