<app-layout>
  <div class="container-fluid provinces">
    <app-loader *ngIf="loading"></app-loader>
    <div *ngIf="!loading">
      <div class="row">
        <div class="col-12 mt-2 mb-2 d-flex align-items-center">
          <a class="enllac" routerLink="/" class="d-flex align-items-center">
            <mat-icon
              style="
                font-size: 18px;
                height: 18px;
                width: 18px;
                margin-right: 10px;
              "
              >home</mat-icon
            >
            <span>{{ "TXT.HOME" | translate }}</span>
          </a>
          <span class="mx-2">/</span>
          <span>{{ "PROVINCESTITLE.TITLE" | translate }}</span>
        </div>
      </div>

      <h2 class="ms-5 me-5 mt-4">{{ "PROVINCESTITLE.TITLE" | translate }}</h2>
      <div class="row ms-5 me-5">
        <div class="col-12 mt-3 mb-2">
          <div class="d-flex justify-content-between">
            <div>
              <app-filter
                [placeholder]="
                  ('TXT.escribaelnombre' | translate) +
                  ' ' +
                  ('TXT.provincia_sing' | translate)
                "
                (filterChange)="filterRegisters($event)"
              ></app-filter>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-primary round-button"
                (click)="openModal('add', null)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row ms-5 me-5">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th class="taula" style="width: 10%" (click)="toggleSort('id')">
                  <mat-icon
                    *ngIf="orderBy === 'id' && orderDirection === 'asc'"
                  >
                    expand_more
                  </mat-icon>
                  <mat-icon
                    *ngIf="orderBy === 'id' && orderDirection === 'desc'"
                  >
                    keyboard_control_key
                  </mat-icon>
                  #
                </th>
                <th
                  class="taula"
                  style="width: 50%"
                  (click)="toggleSort('name')"
                >
                  <mat-icon
                    *ngIf="orderBy === 'name' && orderDirection === 'asc'"
                  >
                    expand_more
                  </mat-icon>
                  <mat-icon
                    *ngIf="orderBy === 'name' && orderDirection === 'desc'"
                  >
                    keyboard_control_key
                  </mat-icon>
                  {{ "TXT.nombre" | translate }}
                </th>

                <th
                  class="taula"
                  style="width: 30%"
                  (click)="toggleSort('code')"
                >
                  <mat-icon
                    *ngIf="orderBy === 'code' && orderDirection === 'asc'"
                  >
                    expand_more
                  </mat-icon>
                  <mat-icon
                    *ngIf="orderBy === 'code' && orderDirection === 'desc'"
                  >
                    keyboard_control_key
                  </mat-icon>
                  {{ "TXT.codigo" | translate }}
                </th>

                <th class="taula" style="width: 10%">
                  {{ "TXT.actions" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let register of filteredRegistersData">
                <td>{{ register.id }}</td>
                <td>{{ register.name }}</td>
                <td>{{ register.code }}</td>
                <td>
                  <!-- Botones de Acción -->
                  <div class="button-container">
                    <button
                      type="button"
                      class="btn small-butt"
                      (click)="viewDetails(register.id)"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button
                      type="button"
                      class="btn small-butt"
                      (click)="openModal('edit', register)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button
                      type="button"
                      class="btn small-butt"
                      (click)="delete(register)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-paginator
            [pageNumber]="pageNumber"
            [pageSize]="pageSize"
            [totalElements]="totalElements"
            (pageChange)="onPageChange($event)"
          ></app-paginator>
        </div>
      </div>
    </div>
    <div *ngIf="!loading && filteredRegistersData.length === 0">
      <p>
        {{ "TXT.noshantrobat" | translate }}
        {{ "PROVINCESTITLE.TITLE" | translate }}.
      </p>
    </div>
  </div>

  <!--MODAL-->
  <ng-template #modalContent let-modal>
    <div class="modal-header d-flex justify-content-end">
      <button
        type="button"
        class="btn"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="currentAction === 'add'">
        <p>{{ "TXT.new_registre" | translate }}</p>
        <!--FORMULARI AFEGIR -->
        <form [formGroup]="formForm" (ngSubmit)="onSubmitAdd()">
          <div class="mb-3">
            <label for="name" class="form-label">{{
              "FORM.name" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              [placeholder]="'FORM.name' | translate"
            />
            <div
              *ngIf="
                formForm.controls['name'].invalid &&
                formForm.controls['name'].touched
              "
              class="text-danger"
            >
              {{ "FORM.campo_obligatorio" | translate }}
            </div>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">{{
              "FORM.code" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="code"
              formControlName="code"
              [placeholder]="'FORM.code' | translate"
            />
            <div
              *ngIf="
                formForm.controls['code'].invalid &&
                formForm.controls['code'].touched
              "
              class="text-danger"
            >
              {{ "FORM.campo_obligatorio" | translate }}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">
            {{ "FORM.added" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="modal.close('Close click')"
          >
            {{ "FORM.close" | translate }}
          </button>
        </form>
      </ng-container>

      <ng-container *ngIf="currentAction === 'edit'">
        <!--FORMULARI MODIFICAR -->
        <form [formGroup]="formForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">
              {{ "FORM.name" | translate }}</label
            >
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              [placeholder]="'FORM.name' | translate"
            />
            <div
              *ngIf="
                formForm.controls['name'].invalid &&
                formForm.controls['name'].touched
              "
              class="text-danger"
            >
              {{ "FORM.campo_obligatorio" | translate }}
            </div>
          </div>

          <div class="mb-3">
            <label for="code" class="form-label">{{
              "FORM.code" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="code"
              formControlName="code"
              [placeholder]="'FORM.code' | translate"
            />
            <div
              *ngIf="
                formForm.controls['code'].invalid &&
                formForm.controls['code'].touched
              "
              class="text-danger"
            >
              {{ "FORM.campo_obligatorio" | translate }}
            </div>
          </div>

          <button type="submit" class="btn btn-primary">
            {{ "FORM.modify" | translate }}
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="modal.close('Close click')"
          >
            {{ "FORM.close" | translate }}
          </button>
        </form>
      </ng-container>
    </div>
  </ng-template>
</app-layout>
