<app-layout>
  <div class="container-fluid provinces">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 mt-2 mb-2 d-flex align-items-center">
            <a class="enllac" routerLink="/" class="d-flex align-items-center">
              <mat-icon
                style="
                  font-size: 18px;
                  height: 18px;
                  width: 18px;
                  margin-right: 10px;
                "
                >home</mat-icon
              >
              <span>{{ "TXT.HOME" | translate }}</span>
            </a>
            <span class="mx-2">/</span>
            <span
              ><a
                class="enllac"
                routerLink="../../provinces"
                class="d-flex align-items-center"
                >{{ "PROVINCESTITLE.TITLE" | translate }}</a
              ></span
            >
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div *ngIf="!loading; else loadingTemplate">
              <div *ngIf="provinceDetail">
                <h2>Detalle de la Provincia</h2>
                <p><strong>ID:</strong> {{ provinceDetail.id }}</p>
                <p><strong>Nombre:</strong> {{ provinceDetail.name }}</p>
              </div>
            </div>

            <ng-template #loadingTemplate>
              <app-loader></app-loader>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
