<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs; let i = index">
      <a
        class="nav-link"
        href="javascript:void(0);"
        [class.active]="tab.isActive"
        (click)="selectTab(tab.id)"
      >
        {{ tab.title }}
        <button
          type="button"
          class="btn-close btn-close-white ms-2"
          aria-label="Close"
          (click)="closeTab(tab.id, $event)"
        ></button>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" *ngIf="currentTab">
      {{ currentTab.content }}
    </div>
  </div>
</div>
