<app-layout>
  <!-- Botones para abrir las pestañas -->
  <div class="d-flex mb-3">
    <button class="btn btn-primary me-2" (click)="abrirBuscador()">
      Buscador
    </button>
    <button class="btn btn-primary" (click)="agregarTab()">Expedientes</button>
  </div>

  <!-- Pestañas -->
  <ul class="nav nav-tabs">
    <!-- Condición actualizada: Mostrar pestaña del buscador sólo si mostrarBuscador es true -->
    <li class="nav-item" *ngIf="mostrarBuscador">
      <a
        class="nav-link"
        [class.active]="buscadorSeleccionado"
        (click)="seleccionarBuscador()"
        >Buscador</a
      >
    </li>

    <!-- Generador de pestañas de expedientes -->
    <li class="nav-item" *ngFor="let tab of expedienteTabs">
      <a
        class="nav-link"
        [class.active]="tab.isSelected"
        (click)="seleccionarTab(tab.id)"
        >{{ tab.title }}</a
      >
    </li>
  </ul>

  <!-- Contenido de las pestañas -->
  <div class="tab-content">
    <!-- Condición actualizada: Mostrar contenido del buscador sólo si mostrarBuscador es true -->
    <div
      *ngIf="mostrarBuscador"
      class="tab-pane fade"
      [ngClass]="{ 'show active': buscadorSeleccionado }"
    >
      Aquí va el contenido de la pestaña del buscador.
      <button
        class="btn btn-danger"
        (click)="cerrarBuscador()"
        style="margin-top: 20px"
      >
        Cerrar Pestaña
      </button>
    </div>

    <!-- Contenido de las pestañas de expedientes -->
    <div
      *ngFor="let tab of expedienteTabs"
      class="tab-pane fade"
      [ngClass]="{ 'show active': tab.isSelected }"
    >
      {{ tab.content }}
      <button
        class="btn btn-danger"
        (click)="cerrarTab(tab.id)"
        style="margin-top: 20px"
      >
        Cerrar Pestaña
      </button>
    </div>
  </div>
</app-layout>
