<div class="editable-container form-group me-3">
  <label *ngIf="label" class="form-label mb-2" [attr.for]="field">{{
    label
  }}</label>


  <ng-container 
  [ngSwitch]="fieldtype">

  <input
    *ngSwitchCase="'string'"

    [id]="field"
    class="form-control"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    type="text"
    maxlength="{{maxlength}}"
  />

  <input
    *ngSwitchCase="'number'"

    [id]="field"
    class="form-control"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    type="number"
  />

  <app-autocomplete *ngSwitchCase="'autocomplete'"
  [structure]="structure || null"
 
  (onEntrySelected)="onChange($event)"
  [currentValue]="value"
  [readonly]="false"
  [disabled]="false"
  ></app-autocomplete> 


  <input *ngSwitchCase="'boolean'"
  [id]="field"
  class="checkbox"
  [(ngModel)]="value"
  (ngModelChange)="onChange($event)"

  type="checkbox"
  />

  <input *ngSwitchCase="'date'"
  [id]="field"
  class="form-control"
  [(ngModel)]="value"
  (ngModelChange)="onChange($event)"
  type="date"
  />

  <input
  *ngSwitchDefault
  [id]="field"
  class="form-control"
  [(ngModel)]="value"
  (ngModelChange)="onChange($event)"
  type="text"
  />
  </ng-container>

<!--
  <input
    [id]="field"
    class="form-control"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
  />
-->
</div>
