<ng-container *ngIf="type === 'provinces'">
  <app-provinces-detail></app-provinces-detail>
</ng-container>

<ng-container *ngIf="type === 'banks'"
  ><app-banks-detail></app-banks-detail
></ng-container>

<ng-container *ngIf="type === 'domains'"
  ><app-domains-detail></app-domains-detail
></ng-container>

<ng-container *ngIf="type === 'addresstype'"
  ><app-adresstypes-detail></app-adresstypes-detail
></ng-container>

<ng-container *ngIf="type === 'autonomous-regions'"
  ><app-autonomous-regions-detail></app-autonomous-regions-detail
></ng-container>

<ng-container *ngIf="type === 'cnae'"
  ><app-cnae-detail></app-cnae-detail
></ng-container>

<ng-container *ngIf="type === 'regions'"
  ><app-comarcs-detail></app-comarcs-detail
></ng-container>

<ng-container *ngIf="type === 'folder-types'"
  ><app-folders-detail></app-folders-detail
></ng-container>

<ng-container *ngIf="type === 'purpose'"
  ><app-communication-purpose-detail></app-communication-purpose-detail
></ng-container>

<ng-container *ngIf="type === 'modes'"
  ><app-communication-modes-detail></app-communication-modes-detail
></ng-container>

<ng-container *ngIf="type === 'types'"
  ><app-communication-types-detail></app-communication-types-detail
></ng-container>

<ng-container *ngIf="type === 'company_relation_types'"
  ><app-company-relation-types-detail></app-company-relation-types-detail
></ng-container>

<ng-container *ngIf="type === 'pay-methods'"
  ><app-pay-methods-detail></app-pay-methods-detail
></ng-container>

<ng-container *ngIf="type === 'visit-rooms'"
  ><app-visit-rooms-detail></app-visit-rooms-detail
></ng-container>

<ng-container *ngIf="type === 'subscription-tag'"
  ><app-subscription-tags-detail></app-subscription-tags-detail
></ng-container>

<ng-container *ngIf="type === 'documents-type'"
  ><app-document-types-detail></app-document-types-detail
></ng-container>

<ng-container *ngIf="type === 'economics-procedure-type'"
  ><app-economic-procedure-types-detail></app-economic-procedure-types-detail
></ng-container>

<ng-container *ngIf="type === 'folder-states'"
  ><app-expedient-folder-states-detail></app-expedient-folder-states-detail
></ng-container>

<ng-container *ngIf="type === 'exp-folder-types'"
  ><app-expedient-folder-types-detail></app-expedient-folder-types-detail
></ng-container>

<ng-container *ngIf="type === 'provenance'"
  ><app-expedient-provenance-detail></app-expedient-provenance-detail
></ng-container>
