<app-layout>
  <div class="row home-auxiliar m-4">
    <div class="col-12">
      <div
        class="d-flex justify-content-center align-items-center min-height-row"
      >
        <h2>Auxiliars</h2>
        <h1 class="ms-3 me-3">|</h1>
        <img
          src="/assets/images/juridic_logo.svg"
          alt="Juridic 3"
          class="img-responsive"
        />
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title 1</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title 2</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title 3</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</app-layout>
